@{
    Layout = "_LayoutSite";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
       @*  <img src="https://www.unicesumar.edu.br/blog/wp-content/uploads/2018/04/estudando-no-computador.jpg" alt="" class="img-fluid mb-4"> *@
       <section id="carrosel" class="carousel slide" data-ride="carousel">
           
       </section>
        <section class="descricao">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint laborum, magni consectetur dolore est? Doloribus commodi non quaerat omnis. Eaque veniam placeat nesciunt laudantium impedit provident! Amet, ducimus animi!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sint laborum, magni consectetur dolore est? Doloribus commodi non quaerat omnis. Eaque veniam placeat nesciunt laudantium impedit provident! Amet, ducimus animi!
            </p>
        </section>
    </div>
    <div class="col-md-8">
        <h2>Estude Conosco! Inscreva se abaixo para a pré-matricula</h2>
        <form action="">
            <div class="form-group">
                <label for="txtNome">Nome Completo</label>
                <input type="text" id="txtNome" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="txtFone">Telefone</label>
                <input type="text" id="txtFone" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="selCurso">Curso</label>
                <input type="text" id="selCurso" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="selTurma">Turma</label>
                <input type="text" id="selTurma" class="form-control"/>
            </div>
            <span style="font-style: italic;">*Entraremos em contato para a conclusao da matricula</span>
            <button type="submit" class="btn btn-primary float-right">Enviar</button>
        </form>
    </div>
</div>